.hero-paragraph{
  padding: 0 15%;
}

/* write media query to remove padding from div */

@media screen and (max-width: 479px) {
  .hero-paragraph {
      padding: 0;
      font-size: 14px;
      }
}

#wecanshape-contact-us-grid{
    grid-template-columns: 1fr 3fr 1fr;
}